/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-image:url('pizzawallpaper.jpg'); 
    background-repeat: no-repeat;
    background-position: center;  
    background-attachment: fixed;
    padding: 20px 20px 20px 20px;
}
h1{
    font-family:Edwardian Script ITC;
    font-size: 500%;
    color: #ffffe6;
    text-shadow: 2px 2px #55552b;
    font-weight:bold;
	letter-spacing: 2px;
}

h3{
    color: #ffffe6;
    font-size: 150%;
    font-style: italic;
}
h1, .section, .row, .fields, .userform{
    float: left;
}
.newOrder{
     padding: 20px 20px 20px 20px;
}
.container, .header, .yeild{
    padding: 20px 20px 20px 20px;
    max-width: auto;
}

.section, .row, .fields, .userform{
    position: relative;
    padding: 10px 10px 10px 10px;
}

.row, .userform, .summary, .listOrder{
    background-color:rgba(0,0,0,0.7);
    padding: 10px 10px 10px 10px;
}  

.row, .userform, .summary, .listOrder, .header{    
    width: auto;
    margin: 30px 30px 30px 30px;

}

.fields, .field, .summary, .listOrder{
    color: white;
}
.fieldLabel{
    padding: 20px 10px 10px 10px;
    color: #ffb31a;
    font-family:Georgia;
    font-size: 200%;
}

.toppingLabel{
     padding: 10px 10px 10px 10px;
     font-size: 140%;
}
.buttonlink, .actions submit{
    text-decoration: none;
	border: none;
    font-family: Calibri;
	font-weight:bold;
    color: black;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 17px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left:2%;
    text-align: center;
	float: right;
}