<!DOCTYPE html>
<html>
<head>
  <title>Conestoga Pizzeria</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Conestoga Pizzeria</h1>
<div class="w3-section w3-row-padding w3-margin-64">
<%= yield %>
</div>
</body>
</html>
